body{font-family: 'Kantumruy Pro', sans-serif;
margin: 0;}

h1{font-size: 50px;}
.blue-color{color: rgb(87, 197, 234);}

.half-width{width: 50%;
    padding-left: 5%;}
   .half-width img{width: 80%;}   /*<=facing problem in this line */

section{display: flex;}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(skyblue ,blue);
    padding: 10px  40px;
    border-radius: 20px;
    color: rgb(19, 1, 1);
    font-weight: 700;
    
}
.flexiable-container
{display: flex;
margin-bottom: 150px;
} 

.link-button-2{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px  40px;
    border-radius: 20px;
    color: rgb(19, 1, 1);
    font-weight: 700;
    
}
.about-me{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    
}

.orange-color{color: tomato;}

.about-me-des{padding-right: 100px;}

.experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px gray;



    
}
.experiences-item img{width: 105%;}

.my-recipies{text-align: center;
padding-bottom: 70px;}

.my-recipies-des{
    padding-left: 10%;
    padding-right: 10%;
}